<html>
    <head>
        <title>
            Senha incorreta
        </title>
        <script>
            window.confirm('[ERRO] Senha inválida.')
            window.location.replace('/room/<%= roomId %>')
        </script>
    </head>
</html>