.content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header'
    'left right';
}

header {
    grid-area: header;
}

#bg {
    grid-area: left;
    background: url('/images/home-background-image.svg') no-repeat top/contain;
    background-position-x: -10rem;
}

main {
    grid-area: right;
    display: flex;
    align-items: center;
    margin-top: -10rem;
}

main .container {
    width: min(36.3rem, 90%);
}

main h2 {
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: clamp(20px, 5vw, 2.8rem);

    margin-bottom: 2.4rem;
}

input {
    border: .2rem solid var(--grey-orange);
    border-radius: .8rem;
    padding: 0 1.6rem;
    height: 5rem;
}

input, button, .button {
    width: 100%;
    margin-bottom: 1.8rem;
}

/* -=-=-=-=-=-=-=-=-=-= Separator Line =-=-=-=-=-=-=-=-=-=- */

.separator {
    display: flex;
    align-items: center;

    margin: 4rem 0;
}

.separator div:nth-child(2) {
    color: var(--grey-orange);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    padding: 0 1.35rem;
    line-height: 0;
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
    background-color: var(--grey-orange);
    width: 100%;
    height: .1rem;
}

/* -=-=-=-=-=-=-=-=-=-= Create Balls =-=-=-=-=-=-=-=-=-=- */

.ball {
    background-color: var(--orange);
    clip-path: circle();

    width: 21.2rem;
    height: 21.2rem;
    position: fixed;

    opacity: 0.1;
}

.ball.top {
    width: 63.3rem;
    height: 63.3rem;
    top: -46rem;
    right: -35rem;
}

.ball.bottom {
    bottom: -15rem;
    right: 5.6rem;
}

/* -=-=-=-=-=-=-=-=-=-= Responsive =-=-=-=-=-=-=-=-=-=- */

@media (max-width: 1023px) {
    .content {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 11.4rem 1fr;
    
        grid-template-areas: 
        'header'
        'right';
    }
    
    header {
        grid-area: header;
    }
    
    #bg {
        display: none;
    }
    
    main {
        width: 100%;

        grid-area: right;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -10rem;
    }
}


