:root {
    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B; 
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-and-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;

    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-grey: #8794A7;

    font-size: 62.5%; /* font-size = 10px */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

h2 {
    font-size: 2.8rem;
}