.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    
    background-color: rgba(4, 9, 17, 0.8);
}

.modal-wrapper .modal {
    width: min(59rem, 80%);
    background-color: var(--white);
    margin: auto;
}