.modal-wrapper.active {
    opacity: 1;
    visibility: visible;   
}

.modal-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    
    background-color: rgba(4, 9, 17, 0.8);

    opacity: 0;
    visibility: hidden;
}

.modal-wrapper .modal {
    width: min(59rem, 80%);
    background-color: var(--white);
    margin: auto;
    border-radius: .8rem;

    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 6.4rem;
}

.modal-wrapper .modal h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);

    margin-bottom: 1.2rem;
}

.modal-wrapper .modal p {
    margin-bottom: 2.4rem;
    color: var(--grey-dark);
}

.modal-wrapper .modal input {
    margin-bottom: 4rem;
    border-radius: .8rem;
    border: .2rem solid var(--blue);
    padding: 1.3rem 1.6rem;

    outline: none;

    width: min(30.2rem, 70%);
}

.modal-wrapper .modal .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper .modal .buttons > .button {
    margin-right: .8rem;
}

.modal-wrapper .modal .buttons > button,
.modal-wrapper .modal .buttons > .button {
    padding: 1.3rem 3.2rem;
}